<link rel="stylesheet" href="~/css/Home/home-index.css" />

<main>
    <img src="~/images/curriculo.png" id="curriculo-logo" class="img-responsive img-circle margin" />
    <br />
    <br />
    <br />
    <h2>Crie um currículo profissional em poucos minutos</h2>
    <p>Com nossa plataforma de geração de currículos, você pode criar um currículo profissional e atraente em poucos minutos. Basta preencher algumas informações básicas e nós cuidamos do resto.</p>
    <br />
    <a href="/Curriculo/" class="button">Listagem de currículos</a>
    &nbsp;&nbsp;&nbsp;
    <a href="/Curriculo/Create" class="button">Comece agora</a>
    &nbsp;&nbsp;&nbsp;
    <a href="/Home/Sobre" class="button">Sobre</a>
    <br />
</main>