@{
    ViewData["Title"] = "Sobre";
}

<link rel="stylesheet" href="~/css/Home/home-sobre.css" />

<main>
    <h1 class="margin"><b>Integrantes do Grupo</b></h1>
    <br />
    <br />
    <div class="row">
        <div class="col-sm-4">
            <div class="profile">
                <img src="~/images/lucas.png" class="img-responsive img-circle margin" style="width:75%">
                <br />
                <div class="name">Lucas Araújo dos Santos</div>
                <br />
                <p>RA: 081210009</p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="profile">
                <img src="~/images/renan.jpg" class="img-responsive img-circle margin" style="width:75%">
                <br />
                <div class="name">Renan César de Araújo</div>
                <br />
                <p>RA: 081210033</p>
            </div>
        </div>
    </div>
</main>